@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(39, 38, 38);
}

strong {
    color: var(--cor2);
}

:root {
    --cor1: #201a70;
    --cor2: #8880f2;
    --cor3: #3f3b70;
}

body {
    height: 100vh;
    background-color: var(--cor3);
}

nav {
    margin: 30px;
    position: relative;
    
    left: 34%;
    transform: translate(-50% -50%);
}

nav a {
    margin: 20px;
    background-color: var(--cor2);
    padding: 7px;
    border-radius: 15px;
    color: white;
    text-align: center;
}

main {
    margin-top: 20px;
    margin-left: 100px;
    height: calc(100vh - 50);
    background-color: white;
    border-radius: 20px;
    margin-right: 100px;
}

.foto img {
    
    max-width: 200px;
    max-height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.082);
    display: inline-block;
    top: 10%;
    left: 5%;
}

.dados {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    color: black;
    font-size: 10px;
}

.mim {
    display: inline-block;
}

footer {
    background-image: linear-gradient(to right, var(--cor3), var(--cor2),  var(--cor3), var(--cor2), var(--cor3));
    width: 100%;
    text-align: justify;
    padding: 10px;

}

footer li {
    margin: 2px;
    list-style-type: none;
    
}

footer h1{
    text-align: center;
    font-size: 10px;
    
}